:root{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;    
    --primary-border-color:chocolate;
    --header-bg-color:rgba(16, 16, 16, .95);
    --header-text-color:rgb(245, 245, 245);
    --body-bg-color:rgba(127, 202, 240, .65); 
    --media_762-bg-color:#5b859a; 
    --media_762-color:#57bbee; 
    --media_1024-bg-color:#F90; 
    --media_1024-color:rgb(246, 244, 242);
    --media_1280-color:#F90; 
    --media_1280-bg-color:rgb(246, 238, 238);
    --media_1440-bg-color:rgb(54, 165, 42); 
    --media_1440-color:rgb(15, 211, 237);
}
*{
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/NOVA_CARREIRA.jpg");
    background-repeat: repeat;
    background-size: 100%;
    background-position: top;
}

.header{
    display: block;
    border:2px solid;
    border-color: var(--primary-border-color);
    border-radius: 10px;
    background-color:var(--header-bg-color);
    position: sticky;
    top: 0px;
    width: 99.5%;
    color:var(--header-text-color);
    z-index: 1;
 
}
#nome{
    font-weight: bold;
    font-style: italic;
    font-size: 1.8rem;
    text-align: center;
    text-decoration: underline;
    
}
#nome:hover{
    font-weight: bold;
    font-style: normal;
    font-size: 2.0rem;
    text-align: center;
    text-decoration: underline;
    
}
.img1{
    width: 50px; 
    height: 50px; 
    border-radius: 20%; 
    border:2px solid;
    border-color: var(--primary-border-color);
    position: absolute;
    margin-left: 10px;
    top: 8px;
     
}
.img1:hover{
    width: 140px; 
    height: 140px; 
    border-radius: 20%; 
    border:2px solid;
    border-color: var(--primary-border-color);
    position: absolute;
    top: 2.5px;
    left: 10px;
    bottom: 3px;
    
}
.dados_pessoais{
    font-style: italic;
    font-size: 0.5rem;
    text-align: left;
    margin-left: 85%;
    margin-top: -50px;
    margin-bottom: 3px;
}
.dados_pessoais:hover{
    font-style: italic;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 30%;    
    margin-top: 2px;
    margin-bottom: 3px
}
.objetivo, .F_academica, .idioma, .qualificacoes, .hist_prof, .cursos{
    border:2px solid;
    border-color: var(--primary-border-color);
    border-radius: 10px;
    background-color:var(--body-bg-color);
    position: relative;
    top: 0px;
    left: 5%;
    width: 90%;
    text-align: center;
    font-weight: bold;
    
}
.f_a, .obj, .idioma_1, .qualificacoes_1, .hist_prof_1, .cursos_1{
    text-align: left;
    margin-left: 20px;
}
table{
    border: solid;
    table-layout: auto;
    width: 90%;
    margin-left: 30px;
}

@media screen and (min-width: 762px) {
    body {
        background-color: var(--media_762-bg-color);
    }

    #nome{
        font-weight: bold;
        font-style: italic;
        font-size: 1.8rem;
        text-align: center;
        text-decoration: underline;
        color: var(--media_762-color);



}
/* min-width */
@media screen and (min-width: 1024px) {
    body {
        background-color: var(--media_1024-bg-color);
    }
    #nome{
        color: var(--media_1024-color);
    }
}
@media screen and (min-width:
 1280px) {
    body {
        background-color:var(--media_1280-bg-color);
    }
    #nome{
        color:  var(--media_1280-color);
    }
}
@media screen and (min-width: 1440px) {
    body {
        background-color:var(--media_1440-bg-color);
    }
    #nome{
        color:var(--media_1440-color);
    }
}


}  
